# Archivos compilados de Python
*.pyc
*.pyo
__pycache__/

# Archivos de entorno virtual (si los creaste dentro)
venv/
env/

# Archivos de configuración y logs
*.log
*.conf

# Editores de código
.vscode/
.idea/
*.swp

# Respaldos de base de datos que a veces dejamos por ahí
*.sql
*.dump
